<!DOCTYPE html>
    <html lang="en">
    <head>
        <title>Denver Trip Plan</title>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.5/angular.min.js"></script>
        <script type="text/javascript" src="denver/script.js"></script>
        <style>
            h1, h2, .action {
                font-family: "Segoe UI",Arial,sans-serif;
                font-style: normal;
            }
        </style>
    </head>
    <body ng-app="app">
	    <div ng-controller="HelloController">
            <img src="../logo.png"></img>
		    <h1>{{message}}</h1>
            <div ng-repeat="day in days">
                <h2>{{ day.name }}</h2>
                <ul>
                    <li class="action" ng-repeat="action in day.actions"> 
                        {{ action }} 
                    </li>
                </ul>
            </div>
	    </div>
    </body>
</html>